$Dark-Blue: hsl(209, 23%, 22%); // Dark mode element
$Very-Dark-Blue: hsl(207, 26%, 17%); // Dake mode background
$Very-Dark-Blue-2: hsl(200, 15%, 8%); // Light mode text
$Very-Dark-Blue-Opacity: hsl(200, 15%, 8%, 0.5);
$Dark-Gray: hsl(0, 0%, 52%); // Light mode input
$Dark-Gray-Opacity: hsl(0, 0%, 52%, 0.5);
$Very-Light-Gray: hsl(0, 0%, 98%); // Light mode background
$White: hsl(0, 0%, 100%); // Dark Mode Text & Light Mode Elements
$Black-Opacity: rgba(0, 0, 0, 0.1)