@import "../variables/variable.scss";

* {
    margin: 0;
    padding: 0;
}

.main-dark {
    background-color: $Very-Dark-Blue;
    min-height: 100vh;
}

.main-light {
    background-color: $Very-Light-Gray;
    min-height: 100vh;
}